const Config = {

  /**
   * Key of the form field of the uploading file
   */
  fileFormFieldKey: "",

  /**
   * Name of the header holding the API key
   */
  apiKeyHeader: "",
  
  /**
   * API key
   */
  apiKey: "",

  /**
   * Max upload size
   */
  maxUploadSize: 0

};

module.exports = Config;
